BETTER_AUTH_SECRET=
MISTRALAI_API_KEY=
DATABASE_URL=postgres://postgres:postgres@localhost:5432/my_postgres,
BETTER_AUTH_URL=http://localhost:3000
QDRANT_URL=http://localhost:6333
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
PORT=3000